{{ define "content.html" }}
<!-- Filters -->
<div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
    <div class="flex flex-col gap-3 px-5 py-4 text-center sm:flex-row sm:items-center sm:justify-between sm:text-left">
        <form id="filters" class="flex items-center gap-6">
            <input type="hidden" id="location" name="location" value="{{ .LocationID }}" />
            <button type="submit"
                class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                Filter
            </button>
            <div>
                <label for="monthYear" class="font-medium">monthYear</label>
                <select id="monthYear" name="monthYear"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
                    <option value=""></option>
                    {{ range .Dates }}
                    <option value="{{ . }}">
                        {{ . }}
                    </option>
                    {{ end }}
                </select>
            </div>
        </form>
        <button id="clearButton" type="button"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            Clear
        </button>
    </div>
</div>
<!-- END Filters -->

<!-- Statistics -->
<div class="grid grid-cols-1 gap-4 pb-6 md:grid-cols-4 lg:gap-8">
    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .Revenue }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Revenue
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .Costs }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Costs
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .GrossProfit }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Gross Profit
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .CommissionDue }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Commission Due
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- END Statistics -->

<div id="prepReportTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Product
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Amount Sold
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Revenue
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Cost
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Credit Card Fee
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Gross Profit
                </th>
            </tr>
        </thead>

        <tbody>
            {{ range .CommissionReport }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Product }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .AmountSold }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Revenue }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Cost }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .CreditCardFee }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .GrossProfit }}</p>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<script nonce="{{ .Nonce }}">
    const params = new URLSearchParams(window.location.search);
    const form = document.getElementById("filters");
    const clear = document.getElementById("clearButton");

    clear.addEventListener('click', () => window.location.href = "/inventory/commission-report");

    form.addEventListener("submit", e => {
        e.preventDefault();

        const data = new FormData(e.target);
        for (const [key, value] of data.entries()) {
            if (value) params.set(key, value);
        }

        if (!params.toString()) return;

        redirectUrl();
    });

    function redirectUrl() {
        const { origin, pathname } = window.location;
        const url = new URL(origin + pathname);
        url.search = params.toString();

        window.location.replace(url.href);
    }
</script>
{{ end }}