{{ define "content.html" }}
<!-- Statistics -->
<div class="grid grid-cols-1 gap-4 pb-6 md:grid-cols-2 lg:gap-8">
    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .Revenue }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Revenue
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .Costs }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Costs
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .GrossProfit }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Gross Profit
                </dd>
            </dl>
        </div>
    </div>

    <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
        <div class="grow p-5">
            <dl class="space-y-1">
                <dt class="text-2xl font-bold">${{ .CommissionDue }}</dt>
                <dd class="text-sm font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400">
                    Commission Due
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- END Statistics -->

<div id="prepReportTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Product
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Amount Sold
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Revenue
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Cost
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Credit Card Fee
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Gross Profit
                </th>
            </tr>
        </thead>

        <tbody>
            {{ range .CommissionReport }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Product }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .AmountSold }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Revenue }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Cost }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .CreditCardFee }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .GrossProfit }}</p>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}