{{ define "create_product_form.html" }}
<!-- Modal Container -->
<div id="formModalContainer" style="display: none;">
    <div>
        <div tabindex="-1" role="dialog"
            class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
            <div role="document"
                class="mx-auto flex w-full md:w-1/2 flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                <div class="flex items-center justify-between bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
                    <h3 class="flex items-center gap-2 font-medium">
                        <span>Create Product</span>
                    </h3>
                    <div class="-my-4">
                        <button type="button" id="closeForm"
                            class="inline-flex items-center justify-center gap-2 rounded-lg border border-transparent px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                            <svg class="hi-solid hi-x -mx-1 inline-block size-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="grow p-5">
                    <div
                        class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                        <div class="grow p-5 md:px-16 md:py-12">
                            <form id="createProductForm" class="space-y-6">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ .CSRFToken }}" />
                                <div class="space-y-1">
                                    <label for="name" class="font-medium">Name*</label>
                                    <input type="text" id="name" name="name" required
                                        class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                </div>
                                <div class="space-y-1">
                                    <label for="product_category_id" class="font-medium">Category*</label>
                                    <select id="product_category_id" name="product_category_id" required
                                        class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary">
                                        {{ range .ProductCategories }}
                                        <option value="{{ .ProductCategoryID }}">{{ .Name }}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="size" class="font-medium">Size</label>
                                        <input type="number" step="0.01" id="size" name="size"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="size_type" class="font-medium">Size Type</label>
                                        <input type="text" id="size_type" name="size_type"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <div class="space-y-1">
                                    <label for="upc" class="font-medium">UPC*</label>
                                    <input type="text" id="upc" name="upc" required
                                        class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                </div>
                                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <button type="button" id="scanBarcode"
                                            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                                            Scan Barcode
                                        </button>
                                    </div>
                                    <div class="space-y-1">
                                        <label for="upload_barcode" class="font-medium">Upload Image of Barcode</label>
                                        <input
                                            class="block w-full text-sm text-gray-500 file:mr-4 file:rounded file:border-0 file:bg-blue-50 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-blue-700 hover:file:bg-blue-100 dark:text-gray-400 dark:file:bg-blue-200 dark:file:text-blue-800 dark:hover:file:bg-blue-300"
                                            type="file" id="upload_barcode" name="upload_barcode"
                                            accept=".jpg,.jpeg,.png,.webp" />
                                        <button type="button" id="scanBarcodeImage"
                                            class="inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-3 py-2 text-sm font-semibold leading-5 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                fill="currentColor"
                                                class="hi-micro hi-magnifying-glass inline-block size-4">
                                                <path fill-rule="evenodd"
                                                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span>Scan</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                    <button type="button" id="cancelForm"
                        class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        Cancel
                    </button>
                    <button type="button" id="submitForm"
                        class="inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-3 py-2 text-sm font-semibold leading-5 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                        Submit
                    </button>
                </div>
                <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100"
                    id="barcodeScanner"></div>
            </div>
        </div>
    </div>
    <!-- END Modals: With Form -->
</div>
<!-- END Modal Container -->

<div id="alertModal"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js" nonce="{{ .Nonce }}"></script>
<script nonce="{{ .Nonce }}">
    const scanBarcode = document.getElementById("scanBarcode");
    const alertModal = document.getElementById("alertModal");

    const name = document.getElementById('name');
    const size = document.getElementById('size');
    const sizeType = document.getElementById('size_type');
    const upc = document.getElementById('upc');

    scanBarcode.addEventListener("click", () => handleScanBarcode());

    function handleErrorModal(err) {
        if (!err.includes("alertModal")) {
            alertModal.outerHTML = err;
        } else {
            fetch(`/partials/error-modal?err=${err}`)
            .then((response) => {
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                alertModal.outerHTML = html;
            })
            .catch(console.error);
        }

        handleCloseAlertModal();
    }

    function handleScanBarcode() {
        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#barcodeScanner'), // The HTML element to display the video
                constraints: {
                    width: 640,
                    height: 480,
                    facingMode: "environment"
                },
                area: { // defines rectangle of the detection/localization area
                    top: "0%",    // top offset
                    right: "0%",  // right offset
                    left: "0%",   // left offset
                    bottom: "0%"  // bottom offset
                },
            },
            decoder: {
                readers: ["ean_reader", "ean_8_reader", "upc_reader", "upc_e_reader"]
            }
        }, (err) => {
            if (err) {
                handleErrorModal("Error initializing Quagga:", err)
                return;
            }
            Quagga.start();
        });

        // Listen for detected codes
        Quagga.onDetected((data) => {
            const code = data.codeResult.code;
            upc.value = code;

            getUPCData(code)
                .then(data => {
                    name.value = data.name;
                    size.value = data.size;
                    sizeType.value = data.size_type;
                })
                .catch(err => handleErrorModal(err));

            Quagga.stop();
        });

        window.addEventListener('unload', function () {
            Quagga.stop();
        });
    }

    const scanBarcodeImage = document.getElementById("scanBarcodeImage");
    scanBarcodeImage.addEventListener("click", () => handleScanBarcodeImage());

    function handleScanBarcodeImage() {
        const img = document.getElementById("upload_barcode");
        const file = img.files[0];

        if (!file) {
            handleErrorModal("No image file selected");
            return;
        }

        const reader = new FileReader();

        reader.onload = function (event) {
            const image = new Image();
            image.src = event.target.result;

            // When the image is ready, initialize Quagga with the image data
            image.onload = function () {
                Quagga.decodeSingle({
                    src: image.src, // The image file source
                    numOfWorkers: 0, // No web workers for a single image
                    inputStream: {
                        size: 800 // Adjust this size to the actual image size if needed
                    },
                    decoder: {
                        readers: ["ean_reader", "ean_8_reader", "upc_reader", "upc_e_reader"]
                    }
                }, (result) => {
                    if (result && result.codeResult) {
                        const code = result.codeResult.code;

                        upc.value = code;

                        getUPCData(code)
                            .then(data => {
                                name.value = data.name;
                                size.value = data.size;
                                sizeType.value = data.size_type;
                            })
                            .catch(err => handleErrorModal(err));
                    } else {
                        handleErrorModal("No barcode detected in the image.");
                    }
                });
            };
        };

        reader.readAsDataURL(file); // Convert the image file to Data URL
    }

    function getUPCData(upc) {
        const url = `https://world.openfoodfacts.org/api/v0/product/${upc}.json`;

        return new Promise((resolve, reject) => {
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        reject(new Error('Network response was not ok'));
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === 1) { // Status 1 means the product was found
                        const product = data.product;
                        resolve({
                            name: product.product_name,
                            size: product.product_quantity,
                            size_type: product.product_quantity_unit,
                            category: product.categories
                        });
                    } else {
                        reject(new Error(`Product not found for barcode: ${upc}`));
                    }
                })
                .catch(error => {
                    reject(error); // Handle any other errors like network issues
                });
        });
    }
</script>

<script nonce="{{ .Nonce }}">
    const submitForm = document.getElementById("submitForm");
    const cancelForm = document.getElementById("cancelForm");
    const closeForm = document.getElementById("closeForm");

    function handleCloseForm() {
        const modal = document.getElementById('formModalContainer');
        modal.style.display = 'none';
    }

    submitForm.addEventListener('click', () => handleSubmitForm());
    cancelForm.addEventListener('click', () => handleCloseForm());
    closeForm.addEventListener("click", () => handleCloseForm());

    function handleSubmitForm() {
        const form = document.getElementById("createProductForm");
        const data = new FormData(form);
        const body = new FormData();

        for (const [key, value] of data.entries()) {
            if (key === "upload_barcode") continue;

            if (value) body.append(key, value);
        }

        fetch("/inventory/product", {
            method: "POST",
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('productsTable');
                table.outerHTML = html;
                handleBindPagination();

                form.reset();
            })
            .catch(err => handleErrorModal(err))
            .finally(() => handleCloseForm());
    }
</script>
{{ end }}