{{ define "content.html" }}
<!-- Filters -->
<div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
    <div class="flex flex-col gap-3 px-5 py-4 text-center sm:flex-row sm:items-center sm:justify-between sm:text-left">
        <form id="filters" class="flex flex-col sm:flex-row items-center gap-6">
            <button type="submit"
                class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                Filter
            </button>
            <button id="clearButton" type="button"
                class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                Clear
            </button>
            <div>
                <label for="machine" class="font-medium text-center">Machine</label>
                <select id="machine" name="machine"
                    class="block w-full rounded-lg border border-gray-200 px-6 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500">
                    <option></option>
                    {{ range .Machines }}
                    <option value="{{ .MachineID }}">
                        {{ .MachineName }}
                    </option>
                    {{ end }}
                </select>
            </div>
        </form>
    </div>
</div>
<!-- END Filters -->

<div id="productSalesReportTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Product
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Amount Sold
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Revenue
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Cost
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Credit Card Fee
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Gross Profit
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Profit %
                </th>
            </tr>
        </thead>

        <tbody>
            {{ range .ProductSalesReport }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Product }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .AmountSold }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Revenue }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Cost }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .CreditCardFee }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .GrossProfit }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .ProfitMargin }}%</p>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<script nonce="{{ .Nonce }}">
    const params = new URLSearchParams(window.location.search);
    const form = document.getElementById("filters");
	const clear = document.getElementById("clearButton");

	clear.addEventListener('click', () => window.location.href = "/inventory/product-sales-report");

    form.addEventListener("submit", e => {
        e.preventDefault();

        const data = new FormData(e.target);
        for (const [key, value] of data.entries()) {
            params.set(key, value);
        }

        if (!params.toString()) return;

        redirectUrl();
    });

    function redirectUrl() {
        const { origin, pathname } = window.location;
        const url = new URL(origin + pathname);
        url.search = params.toString();

        window.location.replace(url.href);
    }

    document.addEventListener("DOMContentLoaded", function() {
        const machineId = new URLSearchParams(window.location.search).get("machine");
        const machineSelect = document.getElementById("machine");

        if (machineId && machineSelect) {
            Array.from(machineSelect.options).forEach(option => {
                if (option.value === machineId) option.selected = true;
            });
        }
    });
</script>
{{ end }}