{{ define "content.html" }}
<div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
    <div class="flex flex-col gap-3 px-5 py-4 text-center sm:flex-row sm:items-center sm:justify-between sm:text-left">
        <form id="filters" class="flex items-center gap-6">
            <button type="submit"
                class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                Filter
            </button>
            <div>
                <label for="transaction_type" class="font-medium">Transaction</label>
                <select id="transaction_type" name="transaction_type"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
                    <option value=""></option>
                    {{ range .TransactionTypes }}
                    <option value="{{ . }}">
                        {{ . }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div>
                <label for="machine" class="font-medium">Machine</label>
                <select id="machine" name="machine"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
                    <option value=""></option>
                    {{ range .Machines }}
                    <option value="{{ .MachineID }}">
                        {{ .MachineName }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div>
                <label for="location" class="font-medium">Location</label>
                <select id="location" name="location"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
                    <option value=""></option>
                    {{ range .Locations }}
                    <option value="{{ .LocationID }}">
                        {{ .Name }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div>
                <label for="product" class="font-medium">Product</label>
                <select id="product" name="product"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
                    <option value=""></option>
                    {{ range .Products }}
                    <option value="{{ .ProductID }}">
                        {{ .Name }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div>
                <label for="date_from" class="font-medium">Date From</label>
                <input type="date" id="date_from" name="date_from"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-5 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
            </div>
            <div>
                <label for="date_to" class="font-medium">Date To</label>
                <input type="date" id="date_to" name="date_to"
                    class="block w-full rounded-lg border border-gray-200 px-3 py-2 leading-5 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
            </div>
        </form>
        <button id="clearButton" type="button"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            Clear
        </button>
    </div>
</div>

{{ template "transactions_table.html" . }}

<script nonce="{{ .Nonce }}">
    const params = new URLSearchParams(window.location.search);
    const form = document.getElementById("filters");
    const clear = document.getElementById("clearButton");

    clear.addEventListener('click', () => window.location.href = "/inventory/transaction");

    form.addEventListener("submit", e => {
        e.preventDefault();

        const data = new FormData(e.target);
        for (const [key, value] of data.entries()) {

            if (key.includes("date_") && value) {
                const date = data.get(key);
                const timestamp = new Date(date).getTime() / 1000;

                params.set(key, timestamp);

                continue;
            }
            if (value) params.set(key, value);
        }

        // Do not submit if params are empty
        if (!params.toString()) return;

        redirectUrl();
    });

    function redirectUrl() {
        const { origin, pathname } = window.location;
        const url = new URL(origin + pathname);
        url.search = params.toString();

        window.location.replace(url.href);
    }

    // Pre-populate inputs
    params.forEach((value, key) => {
    const input = document.getElementById(key);
    if (input) {
        if (key.includes("date_")) {
            const timestamp = parseFloat(value);
            const dateObject = new Date(timestamp * 1000); // Convert to milliseconds
            // Format the date to YYYY-MM-DD for the input
            const formattedDate = dateObject.toISOString().split('T')[0];
            input.value = formattedDate;
        } else {
            input.value = value;
        }
    }
});
</script>

<script src="{{ .StaticPath }}/main.js" nonce="{{ .Nonce }}"></script>
<script src="{{ .StaticPath }}/pagination.js" nonce="{{ .Nonce }}"></script>

{{ end }}