{{ define "leads_table.html" }}
<table id="leadsTable" class="min-w-full whitespace-nowrap align-middle text-sm">
    <thead>
        <tr>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Name
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                City
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Phone Number
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Vending Type
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Vending Location
            </th>
        </tr>
    </thead>

    <tbody>
        {{ range .Leads }}
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <a href="/crm/lead/{{ .LeadID }}" target="_blank"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    View
                </a>
            </td>
            <td class="p-3">
                <p class="font-medium">{{ .FirstName }} {{ .LastName }}</p>
                <p class="text-gray-500 dark:text-gray-400">{{ .City }}</p>
            </td>
            <td class="phoneNumber p-3 text-gray-500 dark:text-gray-400">{{ .PhoneNumber }}</td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    {{ .MachineType }}
                </div>
            </td>
            <td class="p-3 text-center">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    {{ .LocationType }}
                </div>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<!-- Pagination -->
<div class="text-center dark:text-gray-100">
    <nav class="flex sm:hidden">
        <button type="button" class="pagination-link" aria-label="Previous">
            <svg class="hi-mini hi-chevron-left ..."></svg>
        </button>
        <div class="flex grow items-center justify-center px-2 sm:px-4">
            <span>Page <span class="font-semibold">{{ .CurrentPage }}</span> of <span class="font-semibold">{{ .TotalRows }}</span></span>
        </div>
        <button type="button" class="pagination-link" aria-label="Next">
            <svg class="hi-mini hi-chevron-right ..."></svg>
        </button>
    </nav>

    <nav class="hidden sm:inline-flex">
        {{ range .Pages }}
        <button type="button" class="pagination-link {{ if eq . $.CurrentPage }}bg-gray-100{{ end }}">
            {{ . }}
        </button>
        {{ end }}
    </nav>
</div>
<!-- END Pagination -->

<!-- Include JavaScript for handling pagination clicks -->
<script nonce="{{ .Nonce }}">
    const params = new URLSearchParams(window.location.search);
    const form = document.getElementById("filtersForm");
    const table = document.getElementById("leadsTable");

    function fetchData() {
        fetch("/quotes?" + params.toString(), {
            method: "GET",
            credentials: "include"
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Error: " + response.statusText);
                }
            })
            .then(html => {
                table.outerHTML = html;
                form.reset();
            })
            .catch(console.error);
    }

    document.querySelectorAll('.pagination-link').forEach(item => {
        item.addEventListener('click', e => {
            const pageNum = e.textContent.trim();
            params.set('page_num', pageNum);

            fetchData();
        });
    });

    form.addEventListener("submit", e => {
        e.preventDefault();

        const formData = new FormData(e.target);
        for (const [key, value] of formData.entries()) {
            params.append(key, value);
        }

        fetchData();
    });
</script>
{{ end }}