{{ define "location_assignments_table.html" }}
<div id="locationAssignmentsTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Location
                </th>
                <th class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Date Assigned
                </th>
                <th class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Active
                </th>
                <th class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Save
                </th>
                <th class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Delete
                </th>
            </tr>
        </thead>
    
        <tbody>
            {{ range .MachineLocationAssignments }}
            {{ $assignment := . }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <select id="location_id" name="location_id" data-assignment-id="{{ $assignment.MachineLocationAssignmentID }}" required
                        class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-primary">
                        {{ range $.Locations }}
                        <option value="{{ .LocationID }}" {{ if eq .LocationID $assignment.LocationID }}selected{{ end }}>
                            {{ .Name }}
                        </option>
                        {{ end }}
                    </select>
                </td>
                <td class="p-3 text-center">
                    <input type="datetime-local" name="location_date_assigned" data-date-assigned="{{ .LocationDateAssigned }}"
                        data-assignment-id="{{ $assignment.MachineLocationAssignmentID }}" 
                        class="locationDateAssigned w-1/8 rounded-lg border border-gray-200 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                </td>
                <td class="p-3 text-center">
                    <label class="group relative inline-flex items-center gap-3">
                        <input type="checkbox" class="peer sr-only" name="is_location_active" {{ if .IsLocationActive }}checked{{ end }} data-assignment-id="{{ $assignment.MachineLocationAssignmentID }}"  />
                        <span
                            class="relative h-7 w-12 flex-none rounded-full bg-gray-300 transition-all duration-150 ease-out before:absolute before:left-1 before:top-1 before:size-5 before:rounded-full before:bg-white before:transition-transform before:duration-150 before:ease-out before:content-[''] peer-checked:bg-primary-500 peer-checked:before:translate-x-full peer-focus:ring peer-focus:ring-primary-500/50 peer-focus:ring-offset-2 peer-focus:ring-offset-white peer-disabled:cursor-not-allowed peer-disabled:opacity-75 dark:bg-gray-700 dark:peer-checked:bg-primary-500 dark:peer-focus:ring-offset-gray-900"></span>
                        <span class="font-medium">Is Active</span>
                    </label>
                </td>
                <td class="p-3 text-center">
                    <button data-assignment-id="{{ $assignment.MachineLocationAssignmentID }}" 
                        class="updateLocationAssignment inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <svg class="hi-solid hi-save inline-block size-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path d="M7.707 10.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V6h5a2 2 0 012 2v7a2 2 0 01-2 2H4a2 2 0 01-2-2V8a2 2 0 012-2h5v5.586l-1.293-1.293zM9 4a1 1 0 012 0v2H9V4z" />
                        </svg>
                    </button>
                </td>
                <td class="p-3 text-center">
                    <button data-assignment-id="{{ $assignment.MachineLocationAssignmentID }}" 
                        class="deleteLocationAssignment inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hi-micro hi-x-circle inline-block size-4">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>    
</div>

<script nonce="{{ .Nonce }}">
    const deleteLocationButtons = document.querySelectorAll(".deleteLocationAssignment");
    const updateLocationButtons = document.querySelectorAll(".updateLocationAssignment");

    deleteLocationButtons.forEach(button => {
        button.addEventListener("click", function (e) {
            handleDeleteLocationAssignment(button.dataset.assignmentId);
        });
    });

    updateLocationButtons.forEach(button => {
        button.addEventListener("click", function (e) {
            handleUpdateLocationAssignment(button.dataset.assignmentId);
        });
    });

    function getUpdateLocationData(assignmentId) {
        const inputs = document.getElementsByTagName('input');
        const body = new FormData();

        Array.from(inputs).forEach(input => {
            const logId = input.dataset.assignmentId;
            if (logId !== assignmentId) return;

            body.set(input.getAttribute('name'), input.value);
        });

        body.set('machine_id', `{{ .Machine.MachineID }}`);

        return body;
    }

    function handleDeleteLocationAssignment(assignmentId) {
        const data = new FormData();
        const csrfToken = document.querySelector('[name="csrf_token"]');
        if (csrfToken) {
            data.set("csrf_token", csrfToken.value);
        }

        fetch(`/crm/machine/{{ .Machine.MachineID }}/location-assignment/${assignmentId}`, {
            method: "DELETE",
            credentials: "include",
            body: data
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('locationAssignmentsTable');
                table.outerHTML = html;
                handleBindPagination();
                handleLocationDates();
            })
            .catch(err => {
                alertModal.outerHTML = err;
            })
            .finally(() => handleCloseAlertModal());
    }

    function handleUpdateLocationAssignment(assignmentId) {
        const data = getUpdateLocationData(assignmentId);
        data.set('location_date_assigned', Math.floor(new Date(data.get('location_date_assigned')).getTime() / 1000));

        const csrfToken = document.querySelector('[name="csrf_token"]');
        if (csrfToken) {
            data.set("csrf_token", csrfToken.value);
        }

        fetch(`/crm/machine/{{ .Machine.MachineID }}/location-assignment/${assignmentId}`, {
            method: "PUT",
            credentials: "include",
            body: data
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('locationAssignmentsTable');
                table.outerHTML = html;
                handleLocationDates();
                handleBindPagination();
            })
            .catch(err => {
                alertModal.outerHTML = err;
            })
            .finally(() => handleCloseAlertModal());
    }

    function handleLocationDates() {
        const dates = document.querySelectorAll(".locationDateAssigned");

        dates.forEach(date => {
            const unixTimestamp = parseInt(date.dataset.dateAssigned);
            if (!isNaN(unixTimestamp)) {
                date.value = new Date(unixTimestamp * 1000).toISOString().slice(0, 16);
            }
        });
    }

    document.addEventListener("DOMContentLoaded", () => handleLocationDates());
</script>
{{ end }}