{{ define "quotes_table.html" }}
<table class="min-w-full whitespace-nowrap align-middle text-sm">
    <thead>
        <tr>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Photo
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Name
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Email
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Plan
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-mEZ3PoFGs_k-160x160.jpg" alt="User Avatar"
                    class="inline-block size-10 rounded-full" />
            </td>
            <td class="p-3">
                <p class="font-medium">Nansi Hart</p>
                <p class="text-gray-500 dark:text-gray-400">Web Designer</p>
            </td>
            <td class="p-3 text-gray-500 dark:text-gray-400">n.hart@example.com</td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    Agency
                </div>
            </td>
            <td class="p-3 text-center">
                <button type="button"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Edit
                </button>
            </td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-BGz8vO3pK8k-160x160.jpg" alt="User Avatar"
                    class="inline-block size-10 rounded-full" />
            </td>
            <td class="p-3">
                <p class="font-medium">Lia Baker</p>
                <p class="text-gray-500 dark:text-gray-400">Web Developer</p>
            </td>
            <td class="p-3 text-gray-500 dark:text-gray-400">
                l.baker@example.com
            </td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-blue-100 px-2 py-1 text-xs font-semibold leading-4 text-blue-900 dark:border-blue-900/75 dark:bg-blue-700/10 dark:font-medium dark:text-blue-200">
                    Freelancer
                </div>
            </td>
            <td class="p-3 text-center">
                <button type="button"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Edit
                </button>
            </td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-iFgRcqHznqg-160x160.jpg" alt="User Avatar"
                    class="inline-block size-10 rounded-full" />
            </td>
            <td class="p-3">
                <p class="font-medium">Xavier Rosales</p>
                <p class="text-gray-500 dark:text-gray-400">Author</p>
            </td>
            <td class="p-3 text-gray-500 dark:text-gray-400">
                x.rosales@example.com
            </td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-orange-100 px-2 py-1 text-xs font-semibold leading-4 text-orange-900 dark:border-orange-900/75 dark:bg-orange-700/10 dark:font-medium dark:text-orange-200">
                    Trial
                </div>
            </td>
            <td class="p-3 text-center">
                <button type="button"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Edit
                </button>
            </td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-c_GmwfHBDzk-160x160.jpg" alt="User Avatar"
                    class="inline-block size-10 rounded-full" />
            </td>
            <td class="p-3">
                <p class="font-medium">Danyal Clark</p>
                <p class="text-gray-500 dark:text-gray-400">Laravel Developer</p>
            </td>
            <td class="p-3 text-gray-500 dark:text-gray-400">
                d.clark@example.com
            </td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    Agency
                </div>
            </td>
            <td class="p-3 text-center">
                <button type="button"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Edit
                </button>
            </td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-QXevDflbl8A-160x160.jpg" alt="User Avatar"
                    class="inline-block size-10 rounded-full" />
            </td>
            <td class="p-3">
                <p class="font-medium">Keira Simons</p>
                <p class="text-gray-500 dark:text-gray-400">Marketing Director</p>
            </td>
            <td class="p-3 text-gray-500 dark:text-gray-400">
                k.simons@example.com
            </td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-blue-100 px-2 py-1 text-xs font-semibold leading-4 text-blue-900 dark:border-blue-900/75 dark:bg-blue-700/10 dark:font-medium dark:text-blue-200">
                    Freelancer
                </div>
            </td>
            <td class="p-3 text-center">
                <button type="button"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>
{{ end }}