{{ define "quotes_table.html" }}
<table id="quotesTable" class="min-w-full whitespace-nowrap align-middle text-sm">
    <thead>
        <tr>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Name
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                City
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Phone Number
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Vending Type
            </th>
            <th
                class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                Vending Location
            </th>
        </tr>
    </thead>

    <tbody>
        {{ range .Quotes }}
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
            <td class="p-3 text-center">
                <a href="/crm/lead/{{ .LeadID }}">
                    <img src="https://cdn.tailkit.com/media/placeholders/avatar-mEZ3PoFGs_k-160x160.jpg"
                        alt="User Avatar" class="inline-block size-10 rounded-full" />
                </a>
            </td>
            <td class="p-3">
                <p class="font-medium">{{ .FirstName }} {{ .LastName }}</p>
                <p class="text-gray-500 dark:text-gray-400">{{ .City }}</p>
            </td>
            <td class="phoneNumber p-3 text-gray-500 dark:text-gray-400">{{ .PhoneNumber }}</td>
            <td class="p-3">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    {{ .MachineType }}
                </div>
            </td>
            <td class="p-3 text-center">
                <div
                    class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
                    {{ .LocationType }}
                </div>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<!-- Pagination -->
<div class="text-center dark:text-gray-100">
    <nav class="flex sm:hidden">
        <button type="button" class="pagination-link" aria-label="Previous">
            <svg class="hi-mini hi-chevron-left ..."></svg>
        </button>
        <div class="flex grow items-center justify-center px-2 sm:px-4">
            <span>Page <span class="font-semibold">{{ .CurrentPage }}</span> of <span class="font-semibold">{{
                    .TotalRows }}</span></span>
        </div>
        <button type="button" class="pagination-link" aria-label="Next">
            <svg class="hi-mini hi-chevron-right ..."></svg>
        </button>
    </nav>

    <nav class="hidden sm:inline-flex">
        {{ range $page := seq 1 .TotalRows }}
        <button type="button" class="pagination-link {{ if eq $page $.CurrentPage }}bg-gray-100{{ end }}">
            {{ $page }}
        </button>
        {{ end }}
    </nav>
</div>
<!-- END Pagination -->

<!-- Include JavaScript for handling pagination clicks -->
<script>
    const params = new URLSearchParams(window.location.search);
    const form = document.getElementById("filtersForm");
    const table = document.getElementById("quotesTable");

    function fetchData() {
        fetch("/quotes?" + params.toString(), {
            method: "GET",
            credentials: "include"
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Error: " + response.statusText);
                }
            })
            .then(html => {
                table.outerHTML = html;
                form.reset();
            })
            .catch(console.error);
    }

    document.querySelectorAll('.pagination-link').forEach(item => {
        item.addEventListener('click', e => {
            const pageNum = e.textContent.trim();
            params.set('page_num', pageNum);

            fetchData();
        });
    });

    form.addEventListener("submit", e => {
        e.preventDefault();

        const formData = new FormData(e.target);
        for (const [key, value] of formData.entries()) {
            params.append(key, value);
        }

        fetchData();
    });
</script>
{{ end }}