{{ define "slots_table.html" }}
<div id="slotsTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    View
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Slot
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Machine Code
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Price
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Capacity
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Refill
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Last Refill
                </th>
            </tr>
        </thead>

        <tbody>
            {{ range .Slots }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <a href="/crm/machine/{{ .MachineID }}/slot/{{ .SlotID }}" target="_blank"
                        class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        View
                    </a>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Slot }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .MachineCode }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Price }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Capacity }}</p>
                </td>
                <td class="p-3 text-center">
                    <button type="button" data-slot-id="{{ .SlotID }}"
                        class="markRefill inline-flex items-center justify-center gap-2 rounded-l-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="hi-micro hi-check inline-block size-4">
                            <path fill-rule="evenodd"
                                d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                    <button type="button" data-slot-id="{{ .SlotID }}" data-last-refill-id="{{ .LastRefillID }}"
                        class="deleteRefill inline-flex items-center justify-center gap-2 rounded-l-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="hi-micro hi-x-mark inline-block size-4">
                            <path
                                d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                        </svg>
                    </button>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .LastRefill }}</p>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<div id="deleteRefillConfirmationModal" style="display: none;">
    <div tabindex="-1" role="dialog"
        class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
        <div role="document"
            class="mx-auto flex w-full max-w-md flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div class="flex grow gap-5 px-5 py-7">
                <div
                    class="flex size-14 flex-none items-center justify-center rounded-full bg-rose-100 text-rose-500 dark:bg-rose-700/50 dark:text-rose-300">
                    <svg class="hi-outline hi-shield-exclamation inline-block size-6" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                    </svg>
                </div>
                <div>
                    <h4 class="mb-1 text-lg font-bold">Refill Deletion</h4>
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        Are you sure you want to delete the last refill?
                    </p>
                </div>
            </div>
            <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                <button type="button" id="cancelDeleteRefill"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Cancel
                </button>
                <button type="button" id="confirmDeleteRefill"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-rose-700 bg-rose-700 px-3 py-2 text-sm font-semibold leading-5 text-white hover:border-rose-600 hover:bg-rose-600 hover:text-white focus:ring focus:ring-rose-400/50 active:border-rose-700 active:bg-rose-700 dark:focus:ring-rose-400/90">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div id="markRefillModal" style="display: none;">
    <div tabindex="-1" role="dialog"
        class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
        <div role="document" class="mx-auto flex w-full max-w-md flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div class="grow p-5">
                <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                    <div class="grow p-5 md:px-16 md:py-12">
                        <form id="markRefillForm" class="space-y-6">
                            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
                            <input type="hidden" id="slot_id" name="slot_id" />
                            <div class="space-y-1">
                                <label for="date_refilled" class="font-medium">Date Refilled</label>
                                <input type="datetime-local" name="date_refilled" class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                <button type="button" id="cancelMarkRefill"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Cancel
                </button>
                <button type="button" id="confirmMarkRefill"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-rose-700 bg-rose-700 px-3 py-2 text-sm font-semibold leading-5 text-white hover:border-rose-600 hover:bg-rose-600 hover:text-white focus:ring focus:ring-rose-400/50 active:border-rose-700 active:bg-rose-700 dark:focus:ring-rose-400/90">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div id="markRefillAllModal" style="display: none;">
    <div tabindex="-1" role="dialog"
        class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
        <div role="document"
            class="mx-auto flex w-full max-w-md flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div class="grow p-5">
                <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                    <div class="grow p-5 md:px-16 md:py-12">
                        <form id="markRefillAllForm" class="space-y-6">
                            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
                            <div class="space-y-1">
                                <label for="date_refilled" class="font-medium">Date Refilled</label>
                                <input type="datetime-local" name="date_refilled"
                                    class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                <button type="button" id="cancelMarkRefillAll"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Cancel
                </button>
                <button type="button" id="confirmMarkRefillAll"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-rose-700 bg-rose-700 px-3 py-2 text-sm font-semibold leading-5 text-white hover:border-rose-600 hover:bg-rose-600 hover:text-white focus:ring focus:ring-rose-400/50 active:border-rose-700 active:bg-rose-700 dark:focus:ring-rose-400/90">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<script nonce="{{ .Nonce }}">
    document.addEventListener("DOMContentLoaded", () => handleBindRefillButtons());

    const markRefillModal = document.getElementById("markRefillModal");
    const cancelMarkRefill = document.getElementById("cancelMarkRefill");
    const confirmMarkRefill = document.getElementById("confirmMarkRefill");

    // Global variables
    let slotId = "";
    let refillId = "";

    function handleBindRefillButtons() {
        const markRefill = document.querySelectorAll(".markRefill");

        markRefill.forEach(btn => {
            btn.addEventListener("click", () => {
                handleMarkRefill(btn.dataset.slotId, false);
            });
        });

        deleteRefill.forEach(btn => {
            btn.addEventListener("click", () => {
                slotId = btn.dataset.slotId;
                lastRefillId = btn.dataset.lastRefillId;

                deleteRefillConfirmationModal.style.display = "";
            });
        });
    }

    function handleMarkRefill(slotId) {
        const slot = document.getElementById("slot_id");
        if (slot) slot.value = slotId;

        markRefillModal.style.display = "";
    }

    cancelMarkRefill.addEventListener("click", () => handleCancelMarkRefill());

    function handleCancelMarkRefill() {
        markRefillModal.style.display = "none";
    }

    confirmMarkRefill.addEventListener("click", () => handleConfirmMarkRefill());

    function handleConfirmMarkRefill() {
        const slotId = document.getElementById("markRefillForm").elements["slot_id"].value;
        const url = `/crm/machine/{{ .Machine.MachineID }}/slot/${slotId}/refill`;
        handleConfirmMarkRefillAction("markRefillForm", url);
    }

    // Mark Refill All Logic
    const refillAllButton = document.getElementById('refillAll');

    refillAllButton.addEventListener("click", () => handleMarkRefillAll());

    const markRefillAllModal = document.getElementById("markRefillAllModal");
    const cancelMarkRefillAll = document.getElementById("cancelMarkRefillAll");
    const confirmMarkRefillAll = document.getElementById("confirmMarkRefillAll");

    function handleMarkRefillAll() {
        markRefillAllModal.style.display = "";
    }

    cancelMarkRefillAll.addEventListener("click", () => handleCancelMarkRefillAll());

    function handleCancelMarkRefillAll() {
        markRefillAllModal.style.display = "none";
    }

    confirmMarkRefillAll.addEventListener("click", () => handleConfirmMarkRefillAll());

    function handleConfirmMarkRefillAll() {
        const url = `/crm/machine/{{ .Machine.MachineID }}/refill`;
        handleConfirmMarkRefillAction("markRefillAllForm", url);
    }

    function handleConfirmMarkRefillAction(formId, url) {
        const form = document.getElementById(formId);
        const body = new FormData(form);

        const dateRefilled = new Date(body.get('date_refilled')).getTime() / 1000;
        body.set('date_refilled', dateRefilled);

        fetch(url, {
            method: "POST",
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('slotsTable');
                table.outerHTML = html;
                handleBindPagination();
            })
            .catch(err => {
                alertModal.outerHTML = err;
                handleCloseAlertModal();
            })
            .finally(() => {
                handleCancelMarkRefill();
                handleBindRefillButtons();

                form.reset();
            });
    }

    // Delete Refill Logic
    const deleteRefill = document.querySelectorAll(".deleteRefill");

    const deleteRefillConfirmationModal = document.getElementById("deleteRefillConfirmationModal");
    const cancelDeleteRefill = document.getElementById("cancelDeleteRefill");
    const confirmDeleteRefill = document.getElementById("confirmDeleteRefill");

    function handleCloseConfirmDelete() {
        deleteRefillConfirmationModal.style.display = "none";

        slotId = "";
        lastRefillId = "";
    }

    cancelDeleteRefill.addEventListener("click", () => {
        handleCloseConfirmDelete();
    });

    confirmDeleteRefill.addEventListener("click", () => handleConfirmDeleteRefill());

    function handleConfirmDeleteRefill() {
        const endpoint = "/crm/machine/{{ .Machine.MachineID }}/slot/" + slotId + "/refill/" + lastRefillId;
        const method = "DELETE";

        const body = new FormData();
        const token = document.querySelector('[name="csrf_token"]');
        body.set('csrf_token', token.value);

        fetch(endpoint, {
            method: method,
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('slotsTable');
                table.outerHTML = html;
                handleBindPagination();
            })
            .catch(err => {
                alertModal.outerHTML = err;
                handleCloseAlertModal();
            })
            .finally(() => {
                handleCloseConfirmDelete();
                handleBindRefillButtons();
            });
    }
</script>
{{ end }}