{{ define "transactions_table.html" }}
<div id="transactionsTable"
    class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
    <table class="min-w-full whitespace-nowrap align-middle text-sm">
        <thead>
            <tr>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Machine
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Machine Selection
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Product
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Time
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Transaction Type
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Card Number
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Revenue
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Items
                </th>
                <th
                    class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
                    Validation
                </th>
            </tr>
        </thead>

        <tbody>
            {{ range .Transactions }}
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Machine }} | {{ .Location }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .MachineSelection }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Product }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .TransactionTimestamp }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .TransactionType }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .CardNumber }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">${{ .Revenue }}</p>
                </td>
                <td class="p-3 text-center">
                    <p class="font-medium">{{ .Items }}</p>
                </td>
                <td class="p-3 text-center">
                    <div>
                        {{ if .IsValidated }}
                        <button data-transaction-id="{{ .TransactionLogID }}"
                            class="invalidationButton inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="hi-mini hi-exclamation-circle inline-block size-5">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        {{ end }}

                        {{ if not .IsValidated }}
                        <button data-transaction-id="{{ .TransactionLogID }}" data-transaction-validation-id="{{ .TransactionValidationID }}"
                            class="invalidationRemovalButton inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="hi-mini hi-no-symbol inline-block size-5">
                                <path fill-rule="evenodd"
                                    d="m5.965 4.904 9.131 9.131a6.5 6.5 0 0 0-9.131-9.131Zm8.07 10.192L4.904 5.965a6.5 6.5 0 0 0 9.131 9.131ZM4.343 4.343a8 8 0 1 1 11.314 11.314A8 8 0 0 1 4.343 4.343Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        {{ end }}
                    </div>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="grow border-t border-gray-200 px-5 py-4 dark:border-gray-700">
        <nav class="flex">
            <button name="left"
                class="pagination-link inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                <svg class="hi-mini hi-chevron-left -mx-1.5 inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <div class="flex grow items-center justify-center px-2 sm:px-4">
                <span>Page <span class="font-semibold">{{ .CurrentPage }}</span> of <span id="maxPages"
                        class="font-semibold">{{ .MaxPages }}</span></span>
            </div>
            <button name="right"
                class="pagination-link inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                <svg class="hi-mini hi-chevron-right -mx-1.5 inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </nav>
    </div>
    <!-- END Pagination -->
</div>
<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
<div id="alertModal"></div>

<script nonce="{{ .Nonce }}">
    const alertModal = document.getElementById("alertModal");

    function buildURL(transactionId, validationId) {
        let prebuildURL = `/inventory/transaction/${transactionId}/invalidate`

        if (validationId) prebuildURL += `/${validationId}`;

        const actionURL = new URL(prebuildURL, window.location.origin);
        actionURL.search = window.location.search;
        return actionURL;
    }

    function handleBindTableActions() {
        const invalidationButtons = document.querySelectorAll(".invalidationButton");
        const invalidationRemovalButtons = document.querySelectorAll(".invalidationRemovalButton");

        invalidationButtons.forEach(invalidationButton => {
            invalidationButton.addEventListener("click", function (e) {
                const transactionId = invalidationButton.dataset.transactionId;
                handleInvalidateTransaction(transactionId);
            });
        });

        invalidationRemovalButtons.forEach(invalidationRemovalButton => {
            invalidationRemovalButton.addEventListener("click", function (e) {
                const transactionId = invalidationRemovalButton.dataset.transactionId;
                const transactionValidationId = invalidationRemovalButton.dataset.transactionValidationId;
                handleInvalidationRemoval(transactionId, transactionValidationId);
            });
        });
    }

    function handleInvalidateTransaction(transactionId) {
        const body = new FormData();
        const csrfToken = document.querySelector('[name="csrf_token"]');
        body.set("csrf_token", csrfToken.value);

        fetch(buildURL(transactionId, null), {
            method: "POST",
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('transactionsTable');
                table.outerHTML = html;
                handleBindPagination();
                handleBindTableActions();
            })
            .catch(err => {
                alertModal.outerHTML = err;
            })
            .finally(() => handleCloseAlertModal());
    }

    function handleInvalidationRemoval(transactionId, validationId) {
        const body = new FormData();
        const csrfToken = document.querySelector('[name="csrf_token"]');
        body.set("csrf_token", csrfToken.value);

        fetch(buildURL(transactionId, validationId), {
            method: "DELETE",
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                const table = document.getElementById('transactionsTable');
                table.outerHTML = html;
                handleBindPagination();
                handleBindTableActions();
            })
            .catch(err => {
                alertModal.outerHTML = err;
            })
            .finally(() => handleCloseAlertModal());
    }

    document.addEventListener("DOMContentLoaded", () => handleBindTableActions())

</script>
{{ end }}