{{ define "content.html" }}

<!-- Hero Section -->
<div class="relative flex items-center overflow-hidden bg-gray-50 dark:bg-gray-900 dark:text-gray-100">
    <div class="absolute bottom-0 right-0 top-0 w-full rounded-xl bg-white lg:w-1/2 dark:bg-gray-800"></div>
    <div class="container relative mx-auto px-4 py-6 lg:px-8 lg:py-12 xl:max-w-7xl">
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-0">
            <!-- Heading -->
            <div class="hidden sm:flex items-center space-y-6 lg:px-14 xl:px-28">
                <div class="w-full">
                    <h1 class="mb-4 text-4xl font-black text-black dark:text-white">
                        We are <br>
                        <span class="text-primary-600 dark:text-primary-500">{{ .CompanyName }}</span>
                    </h1>
                    <h3 class="text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300">
                        We provide ATM rental services throughout Miami, delivering unmatched convenience.<br>
                    </h3>
                    <div class="leading-relaxed text-gray-600 dark:text-gray-400">
                        Check out our ATM solutions!
                    </div>
                </div>
            </div>
            <!-- END Heading -->

            <!-- Quote Form -->
            <div class="mx-auto flex w-3/4 max-w-xl flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                <form id="get-a-quote-form" class="space-y-6 p-2 md:p-2">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ .CSRFToken }}" />
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                        <div class="space-y-1">
                            <label for="first_name" class="font-medium">First Name*</label>
                            <input type="text" id="first_name" name="first_name" autocomplete="given-name" required
                                class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                        </div>
                        <div class="space-y-1">
                            <label for="last_name" class="font-medium">Last Name*</label>
                            <input type="text" id="last_name" name="last_name" autocomplete="family-name" required
                                class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                        </div>
                    </div>
                    <div class="space-y-1">
                        <label for="phone_number" class="font-medium">Phone Number*</label>
                        <input type="tel" id="phone_number" name="phone_number" autocomplete="tel" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                    </div>
                    <div class="space-y-1">
                        <label for="machine_type" class="font-medium">Machine Type*</label>
                        <select id="machine_type" name="machine_type" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-primary">
                            {{ range .VendingTypes }}
                            <option value="{{ .VendingTypeID }}">{{ .MachineType }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="space-y-1">
                        <label for="location_type" class="font-medium">Location Type*</label>
                        <select id="location_type" name="location_type" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-primary">
                            {{ range .VendingLocations }}
                            <option value="{{ .VendingLocationID }}">{{ .LocationType }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="space-y-1">
                        <label for="message" class="font-medium">Message</label>
                        <textarea id="message" name="message" rows="3"
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary"></textarea>
                    </div>
                    <button type="submit"
                        class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-8 py-4 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                        <svg class="hi-mini hi-paper-airplane inline-block size-5 opacity-50"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path
                                d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z" />
                        </svg>
                        <span>Submit</span>
                    </button>
                </form>
            </div>
            <!-- END Quote Form -->
        </div>
    </div>
</div>
<!-- Hero Section -->

<!-- Features -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                What's so unique about you?
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                How we set ourselves apart
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We strive to provide best-in-industry vending services.<br>
                From food & snack machines to ice makers, and ATM's.
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
            {{ range .Features }}
            <div class="flex items-center gap-3">
                <div class="flex flex-none items-center justify-center text-emerald-500 dark:text-emerald-400">
                    <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <h4 class="font-semibold">{{ . }}</h4>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!-- END Features -->

<!-- FAQ -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Your Questions Answered
            </div>
            <h2 class="text-4xl font-black text-black dark:text-white">
                Frequently Asked Questions
            </h2>
        </div>

        <div
            class="mx-auto max-w-2xl divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 dark:divide-gray-700/50 dark:border-gray-700/50">
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What types of ATMs do you offer?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We offer a range of ATM solutions including standalone ATMs, high-security models, and customizable options to fit various business needs. Whether you require a basic ATM or one with advanced features, we have the right machine for your requirements.
                </p>
            </details>
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">How do you ensure the reliability of your ATMs?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We maintain the reliability of our ATMs through a rigorous maintenance program that includes regular inspections, software updates, and prompt repairs. Our dedicated team ensures that each machine operates smoothly and securely, minimizing downtime and maximizing performance.
                </p>
            </details>
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What features are included in your ATM service?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Our ATM services include a range of advanced features such as 24/7 customer support, secure transaction processing, real-time monitoring, and customizable settings. We ensure each ATM is equipped with the latest technology to meet your needs and enhance user experience.
                </p>
            </details>
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What are your response times for service requests?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We prioritize quick response times for service requests. Typically, our support team addresses issues within 24 hours, ensuring minimal downtime and prompt resolution of any problems with our ATM machines.
                </p>
            </details>
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">How do you ensure the security and reliability of your ATMs?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We prioritize the security and reliability of our ATMs by using advanced encryption technology and regular software updates. Each ATM undergoes rigorous testing and maintenance to ensure it performs reliably and securely. Our dedicated support team monitors transactions and addresses any potential issues swiftly to ensure uninterrupted service.
                </p>
            </details>
            <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Do you provide free installation and maintenance for your ATMs?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Yes, we offer complimentary installation for all our ATMs. In addition, our service includes free maintenance and repairs to ensure that your ATM remains in optimal working condition without any additional cost to you.
                </p>
            </details>
        </div>
    </div>
</div>
<!-- END FAQ -->

<!-- CTA Section -->
<div class="dark">
    <div class="bg-white dark:bg-gray-800 dark:text-gray-100">
        <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
            <div class="text-center">
                <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                    Heard enough?
                    <span class="text-primary-600 dark:text-primary-500">Get started today!</span>
                </h2>
                <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                    Start working with professionals who will tend to your business attentively.<br>
                    We're eager to provide you with our ATM solutions.
                </h3>
            </div>

            <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center sm:gap-3">
                <button name="homePageLowerCTA"
                    class="quoteButton inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-6 py-3 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                    <span>Talk to us</span>
                </button>
                <a href="/about"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-6 py-3 font-semibold leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    <span>Learn More</span>
                    <svg class="hi-mini hi-arrow-right inline-block size-5 opacity-50"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CTA -->

<!-- Team -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Who we are
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                The people under the hood
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We're the ones burning the midnight oil to deliver best-in-class services.
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-16">
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/yovana.jpg"
                        class="relative rounded-lg shadow" alt="User Avatar" loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Yovana</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Owner
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Yovana is an entrepreneur and content creator.
                    She enjoys going to the gym, crafting cocktails, singing in the car,
                    singing in the shower, and traveling.
                    When not singing or lifting weights, she can be found whipping up a delicious michelada.
                </p>
            </div>
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/david.jpg"
                        class="relative rounded-lg shadow" alt="User Avatar" loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">David</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Owner
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    David is a software developer and marketer.
                    He enjoys going to the gym, programming, and the world of miles & award travel.
                    When not at work or lifting weights, he can be found hunched over the nearest laptop.
                </p>
            </div>
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/abba.jpg"
                        class="relative rounded-lg shadow" alt="User Avatar" loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Abba</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Chief Barks Officer
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Abba is an energetic and protective German shepherd.
                    She enjoys patrolling backyards deep into the night, barking at things,
                    barking at critters, barking at people, and chewing on things.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END Team -->

<div id="modalOverlay" style="display: none;"></div>

<script src="{{ .StaticPath }}/popup.js" nonce="{{ .Nonce }}"></script>
<script src="{{ .StaticPath }}/marketing.js" nonce="{{ .Nonce }}"></script>
{{ end }}