<!DOCTYPE html>
<html class="dark" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .GoogleAnalyticsID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("js", new Date());

    gtag("config", "{{ .GoogleAnalyticsID }}");
  </script>
  <!-- End Google tag -->

  <!-- Essential Meta Tags -->
  <meta charset="utf-8">
  <title>{{ .PageTitle }}</title>
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
  <meta name="description" content="{{ .MetaDescription }}">

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .PageTitle }}" />
  <meta property="og:description" content="{{ .MetaDescription }}" />
  <meta property="og:site_name" content="{{ .SiteName }}" />

  <!-- Twitter -->
  <meta name="twitter:title" content="{{ .PageTitle }}" />
  <meta name="twitter:description" content="{{ .MetaDescription }}" />
  <meta name="twitter:url" content="{{ .PagePath }}" />

  <!-- CSS -->
  <link href="{{ .StaticPath }}/main.css" rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'">

  <!-- Rels -->
  <link rel="shortcut icon" href="{{ .StaticPath }}/media/favicon">
  <link rel="canonical" href="{{ .PagePath }}" />
</head>


<body>
  <!-- Page Container -->
  <div class="relative overflow-hidden bg-white dark:bg-gray-900 dark:text-gray-100">
    <!-- Header -->
    <header id="page-header" class="relative flex flex-none items-center py-8">
      <div
        class="container mx-auto flex flex-col space-y-4 px-4 text-center md:flex-row md:items-center md:justify-between md:space-y-0 lg:px-8 xl:max-w-7xl">
        <div>
          <a href="/"
            class="group inline-flex items-center space-x-2 text-lg font-bold tracking-wide text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300">
            <img class="w-10 h-10" src="{{ .StaticPath }}/media/logo.jpg" />
            <span>{{ .SiteName }}</span>
          </a>
        </div>
        <div class="flex flex-col space-y-4 text-center md:flex-row md:items-center md:justify-between md:space-y-0">
          <nav class="space-x-3 md:space-x-6">
            <a href="#"
              class="text-sm font-semibold text-gray-900 hover:text-primary-600 dark:text-gray-100 dark:hover:text-primary-400">
              <span>About</span>
            </a>
            <a href="/services"
              class="text-sm font-semibold text-gray-900 hover:text-primary-600 dark:text-gray-100 dark:hover:text-primary-400">
              <span>Services</span>
            </a>
          </nav>
          <div
            class="mx-6 hidden h-8 w-px bg-gradient-to-b from-transparent via-gray-300 to-transparent dark:via-gray-700 md:block">
          </div>
          <div class="flex items-center justify-center space-x-2">
            <button type="button" id="telephone-button"
              class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
              <span>{{ .PhoneNumber }}</span>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->

    <!-- Page Content -->
    <main id="page-content" class="flex flex-auto flex-col max-w-full">
      <div class="container xl:max-w-7xl mx-auto p-4 lg:p-8">
        {{ template "form.html" . }}
      </div>

      <script src="{{ .StaticPath }}/main.js"></script>
    </main>
    <!-- Page Content -->

    <!-- Page Footer -->
    {{ template "footer.html" . }}
    <!-- END Page Footer -->
  </div>
  <!-- END Page Container -->
</body>

</html>