{{ define "footer.html" }}
<!-- Footer Section: Simple Vertical with Social Dark -->
<div class="dark">
    <footer id="page-footer" class="bg-white dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto px-4 py-16 text-center text-sm lg:px-8 lg:py-32 xl:max-w-7xl">
            <div class="space-y-10">
                <nav class="space-x-4">
                    <a href="https://maps.app.goo.gl/YJUnSByCEUQsF8WQA" class="text-gray-400 hover:text-gray-800 dark:hover:text-white">
                        <svg class="bi bi-google inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                            <path
                                d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61564111687315"
                        class="text-gray-400 hover:text-[#1877f2]">
                        <svg class="icon-facebook inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M9 8H6v4h3v12h5V12h3.642L18 8h-4V6.333C14 5.378 14.192 5 15.115 5H18V0h-3.808C10.596 0 9 1.583 9 4.615V8z">
                            </path>
                        </svg>
                    </a>
                    <a href="https://instagram.com/ydvending" class="text-gray-400 hover:text-[#405de6]">
                        <svg class="icon-instagram inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z">
                            </path>
                        </svg>
                    </a>
                </nav>
                <nav class="space-x-2 sm:space-x-4">
                    <a href="/about"
                        class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50">
                        About
                    </a>
                    <a href="/terms-and-conditions"
                        class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50">
                        Terms of Service
                    </a>
                    <a href="/privacy-policy"
                        class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50">
                        Privacy Policy
                    </a>
                    <a href="/contact"
                        class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50">
                        Contact
                    </a>
                    <a href="/crm/dashboard"
                        class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50">
                        CRM
                    </a>
                </nav>
            </div>
            <hr class="my-10 border-dashed dark:border-gray-700/75" />
            <div class="text-gray-500 dark:text-gray-400/80">
                <span class="font-medium">{{ .CompanyName }}</span> © {{ .CurrentYear }}
            </div>
        </div>
    </footer>
</div>
<!-- END Footer Section: Simple Vertical with Social Dark -->

{{ end }}