{{ define "hero_image.html" }}
<!-- Hero -->
<div class="container relative mx-auto px-4 lg:px-4 xl:max-w-7xl">
    <h1 class="mb-4 pt-4 font-black text-center text-primary-600 dark:text-primary-500" style="font-size: 30px;">
        YD Vending, LLC<br>
    </h1>
    <div class="bg-white pb-4 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex flex-col text-center items-center">
            <div class="mb-1 flex items-center text-amber-500 sm:mb-0">
                <svg class="hi-mini hi-star inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd" />
                </svg>
                <svg class="hi-mini hi-star inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd" />
                </svg>
                <svg class="hi-mini hi-star inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd" />
                </svg>
                <svg class="hi-mini hi-star inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd" />
                </svg>
                <svg class="hi-mini hi-star inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <h4 class="inline-block font-semibold">Trusted by dozens of offices for vending needs.</h4>
        </div>
    </div>
    <div class="text-center">
        <h1 class="mb-4 text-2xl font-black text-black dark:text-white">
            Transform Your Breakroom With Vending Machines Your Employees Will LOVE
            <span class="text-primary-600 text-2xl dark:text-primary-500">(For FREE!)</span>
        </h1>
        <div class="flex justify-center px-2 py-2">
            <ul class="space-y-2 text-[16px] lg:text-base">
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>FREE</strong> Moving & Installation</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>Weekly</strong> & On-Demand Refills</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>FREE</strong> Repairs & Maintenance</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>Customized</strong> Product Selections</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>FREE</strong> Removal of Old Machines</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col gap-2 pb-12 pt-4">
        <button type="button" name="heroMobileCTA"
            class="quoteButton inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-7 py-2 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
            <span>Get Your Vending Machines (for $0!)</span>
        </button>
        <a href="tel:{{ .PhoneNumber }}" id="phoneNumberCTA"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-7 py-3.5 font-semibold leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                class="h-5 w-5 hi-micro hi-phone inline-block size-4">
                <path fill-rule="evenodd"
                    d="m3.855 7.286 1.067-.534a1 1 0 0 0 .542-1.046l-.44-2.858A1 1 0 0 0 4.036 2H3a1 1 0 0 0-1 1v2c0 .709.082 1.4.238 2.062a9.012 9.012 0 0 0 6.7 6.7A9.024 9.024 0 0 0 11 14h2a1 1 0 0 0 1-1v-1.036a1 1 0 0 0-.848-.988l-2.858-.44a1 1 0 0 0-1.046.542l-.534 1.067a7.52 7.52 0 0 1-4.86-4.859Z"
                    clip-rule="evenodd" />
            </svg>
            <span class="phoneNumber">{{ .PhoneNumber }}</span>
        </a>
    </div>
    <div class="group relative flex items-center justify-center md:col-span-5 md:justify-end">
        <div
            class="absolute inset-0 rotate-45 rounded-full bg-gradient-to-b from-sky-500 via-teal-500 to-purple-500 opacity-30 blur-3xl transition-transform duration-300 group-hover:scale-95">
        </div>
        <div
            class="relative w-full max-w-[320px] md:max-w-[500px] lg:max-w-[640px] origin-bottom rounded-2xl bg-white/50 p-2.5 shadow-xl shadow-teal-300/10 backdrop-blur-sm transition-transform duration-300 group-hover:rotate-3 group-hover:scale-105 dark:bg-black/20">
            <img src="https://ydvending.s3.amazonaws.com/media/yova_vendo.jpg" width="800" height="1200"
                alt="Yova hero" class="w-full h-auto rounded-xl" />
        </div>
    </div>
</div>
<!-- END Hero -->
{{ end }}