{{ define "content.html" }}

<!-- Hero Content -->
<div class="container relative mx-auto px-4 py-4 lg:px-4 lg:py-4 xl:max-w-7xl">
    <div class="text-center">
        <h1 class="mb-4 font-black text-black dark:text-white" style="font-size: 30px;">
            Vending Services<br>
            <span class="text-primary-600 text-4xl dark:text-primary-500">for $0</span>
        </h1>
        <div class="flex justify-center p-6">
            <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>FREE</strong> Moving & Installation</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>Weekly</strong> & On-Demand Refills</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>FREE</strong> Repairs & Maintenance</span>
                </li>
                <li class="flex items-center gap-2">
                    <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span><strong>Customized</strong> Product Selections</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col gap-2 pb-16 pt-10 sm:flex-row sm:items-center sm:justify-center sm:gap-3">
        <a href="tel:{{ .PhoneNumber }}"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-7 py-3.5 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                class="h-5 w-5 hi-micro hi-phone inline-block size-4">
                <path fill-rule="evenodd"
                    d="m3.855 7.286 1.067-.534a1 1 0 0 0 .542-1.046l-.44-2.858A1 1 0 0 0 4.036 2H3a1 1 0 0 0-1 1v2c0 .709.082 1.4.238 2.062a9.012 9.012 0 0 0 6.7 6.7A9.024 9.024 0 0 0 11 14h2a1 1 0 0 0 1-1v-1.036a1 1 0 0 0-.848-.988l-2.858-.44a1 1 0 0 0-1.046.542l-.534 1.067a7.52 7.52 0 0 1-4.86-4.859Z"
                    clip-rule="evenodd" />
            </svg>
            <span class="phoneNumber">{{ .PhoneNumber }}</span>
        </a>
        <button type="button"
            class="quoteButton inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-7 py-3.5 font-semibold leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            <span>Contact Us</span>
        </button>
    </div>
</div>
<!-- END Hero -->

<!-- Quote Form -->
<div class="bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-2 px-4 py-2 lg:px-8 lg:py-4 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Want to learn more?
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                Let's have a chat.
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 lg:w-2/3 dark:text-gray-300">
                We'll be fast to respond to any questions you have.
            </h3>
        </div>

        <div
            class="mx-auto flex w-full max-w-xl flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div
                class="mx-auto flex w-3/4 max-w-xl flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                <form id="get-a-quote-form" class="space-y-6 p-2 md:p-2">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ .CSRFToken }}" />
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                        <div class="space-y-1">
                            <label for="first_name" class="font-medium">First Name*</label>
                            <input type="text" id="first_name" name="first_name" autocomplete="given-name" required
                                class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                        </div>
                        <div class="space-y-1">
                            <label for="last_name" class="font-medium">Last Name*</label>
                            <input type="text" id="last_name" name="last_name" autocomplete="family-name" required
                                class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                        </div>
                    </div>
                    <div class="space-y-1">
                        <label for="phone_number" class="font-medium">Phone Number*</label>
                        <input type="tel" id="phone_number" name="phone_number" autocomplete="tel" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                    </div>
                    <div class="space-y-1">
                        <label for="machine_type" class="font-medium">Machine Type*</label>
                        <select id="machine_type" name="machine_type" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-primary">
                            {{ range .VendingTypes }}
                            <option value="{{ .VendingTypeID }}">{{ .MachineType }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="space-y-1">
                        <label for="location_type" class="font-medium">Location Type*</label>
                        <select id="location_type" name="location_type" required
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:focus:border-primary">
                            {{ range .VendingLocations }}
                            <option value="{{ .VendingLocationID }}">{{ .LocationType }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="space-y-1">
                        <label for="message" class="font-medium">Message</label>
                        <textarea id="message" name="message" rows="3"
                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary"></textarea>
                    </div>
                    <button type="submit"
                        class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-8 py-4 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                        <svg class="hi-mini hi-paper-airplane inline-block size-5 opacity-50"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path
                                d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z" />
                        </svg>
                        <span>Submit</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END Quote Form -->

<!-- How It Works -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                How our process works
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                From start to finish, we can have a machine installed in your business very quickly.<br>
                It takes 3 simple steps that we can accomplish in just days.
            </h3>
        </div>

        <nav>
            <ol class="mx-auto grid grid-cols-1 gap-2 sm:gap-4 lg:max-w-[50%]" role="list">
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 1
                            </div>
                            <div>We have a chat about your vending needs.</div>
                        </div>
                        <div class="flex-none text-primary-600">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 2
                            </div>
                            <div>We go take a look at your location in person.</div>
                        </div>
                        <div class="flex-none text-gray-200 dark:text-gray-700">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 3
                            </div>
                            <div>We install the machine that best suits your current situation.</div>
                        </div>
                        <div class="flex-none text-gray-200 dark:text-gray-700">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
            </ol>
        </nav>

        <div class="text-center">
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                We get to work fast.
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                The whole thing from start to finish is as seamless as possible.<br>
                And the best part is...we handle everything at $0.
            </h3>
        </div>
    </div>
</div>
<!-- END How It Works -->

<!-- Gallery -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-4 px-4 py-4 lg:px-4 lg:py-4 xl:max-w-7xl">
        <div class="grow p-5">
            <div id="imagesSlider">
                {{ range .MarketingImages }}
                <div>
                    <img src="{{ . }}" />
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js" nonce="{{ .Nonce }}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" nonce="{{ .Nonce }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    nonce="{{ .Nonce }}"></script>

<!-- Initialize slick after jQuery is loaded -->
<script nonce="{{ .Nonce }}">
    $(document).ready(function () {
        $('#imagesSlider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });
    });
</script>
<!-- END Gallery -->

<!-- Features -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                What's so unique about you?
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                How we set ourselves apart
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We strive to provide best-in-industry vending services.<br>
                For us, it comes down to...<br>
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
            {{ range .Features }}
            <div class="flex items-center gap-3">
                <div class="flex flex-none items-center justify-center text-emerald-500 dark:text-emerald-400">
                    <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <h4 class="font-semibold">{{ . }}</h4>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!-- END Features -->

<!-- FAQ -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Your Questions Answered
            </div>
            <h2 class="text-4xl font-black text-black dark:text-white">
                Frequently Asked Questions
            </h2>
        </div>

        <div
            class="mx-auto max-w-2xl divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 dark:divide-gray-700/50 dark:border-gray-700/50">
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What types of vending machines do you offer?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    At the moment we're primarily focused on snacks, drinks, and combo machines depending on the type of
                    location and the amount of space available.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    During our visit to your location, we'll speak about which type of machine and which size of machine
                    will best fit your needs depending on the context of who's going to be buying and the amount of
                    space to work with we have.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">How often are the machines restocked?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Machines are stocked depending on the volume of the inventory.
                    We have tracking software built so that we know exactly how many products are in each machine at any
                    given time.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Additionally, we may come in times when re-stocking is not needed but if new drinks and/or snacks
                    are requested, we'll be happy to swing by & switch them out.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What payment methods are accepted?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Our vending machines can accept many payment methods such as cash, coins, credit & debit cards
                    swipes and/or taps, and mobile
                    payments such as Apple Pay and Google Wallet.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Do you offer customized vending solutions?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Yes, we select our products to fit the context of where the machine is located. For example...
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We work with fitness centers where we primarily stock products such as energy drinks, sports drinks,
                    electrolyte-infused water, protein shakes, protein bars, and the likes.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Additionally, we work with offices where we primarily stock teas, coffees, carbonated beverages,
                    energy drinks, and the likes.
                    We also work with warehouses where the workers primarily want sodas and energy drinks.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    In short, we customize our product selection to meet the demands of the people who will be using the
                    machine.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">How do you ensure the quality of the machines?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We select the very best machines in the market. Why? Because we want to ensure that we're delivering
                    a premium service, in addition, great machines don't break as often.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    This means the customers are happy, and it makes our lifes easier by not having to repair the thing
                    every other week.
                    From a business perspective, a high quality asset is able to produce for a far longer time than a
                    non-quality asset.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What if a machine malfunctions?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We will always respond as fast as we humanly can. We want the machines running 24/7 or as close to
                    that as possible, so if it ever comes up, we'll be at the location at moment's notice to resolve the
                    issue.
                </p>
            </details>
        </div>
    </div>
</div>
<!-- END FAQ -->

<!-- CTA Section -->
<div class="dark">
    <div class="bg-white dark:bg-gray-800 dark:text-gray-100">
        <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
            <div class="text-center">
                <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                    Heard enough?
                    <span class="text-primary-600 dark:text-primary-500">Get started today!</span>
                </h2>
                <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                    Start working with professionals who will tend to your business attentively.<br>
                    We're eager to provide you with hassle-free vending services.
                </h3>
            </div>

            <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center sm:gap-3">
                <button name="homePageLowerCTA"
                    class="quoteButton inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-6 py-3 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                    <span>Talk to us</span>
                </button>
                <a href="/about"
                    class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-6 py-3 font-semibold leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    <span>Learn More</span>
                    <svg class="hi-mini hi-arrow-right inline-block size-5 opacity-50"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CTA -->

<!-- Team -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Who we are
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                The people under the hood
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We're the ones burning the midnight oil to deliver premium vending services.
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-16">
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/yovana.jpg" class="relative rounded-lg shadow" alt="User Avatar"
                        loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Yovana</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Owner
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Yovana is an entrepreneur and content creator.
                    She enjoys going to the gym, crafting cocktails, singing in the car,
                    singing in the shower, and traveling.
                    When not singing or lifting weights, she can be found whipping up a delicious michelada.
                </p>
            </div>
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/david.jpg" class="relative rounded-lg shadow" alt="User Avatar"
                        loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">David</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Owner
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    David is a software developer and marketer.
                    He enjoys going to the gym, programming, and the world of miles & award travel.
                    When not at work or lifting weights, he can be found hunched over the nearest laptop.
                </p>
            </div>
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/abba.jpg" class="relative rounded-lg shadow" alt="User Avatar"
                        loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Abba</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Chief Barks Officer
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Abba is an energetic and protective German shepherd.
                    She enjoys patrolling backyards deep into the night, barking at things,
                    barking at critters, barking at people, and chewing on things.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END Team -->

<div id="modalOverlay" style="display: none;"></div>
<div id="alertModal"></div>

<script src="{{ .StaticPath }}/marketing.js" nonce="{{ .Nonce }}"></script>
{{ end }}