{{ define "hero_image.html" }}
<!-- Hero -->
<div class="container relative mx-auto px-4 py-8 lg:px-8 lg:py-8 xl:max-w-6xl">
    <div class="grid grid-cols-1 items-center gap-16 text-center md:grid-cols-12 md:text-left">
        <div class="md:col-span-7">
            <div>
                <h1 class="mb-4 text-3xl font-black text-black dark:text-white">
                    Start This 90 Day Challenge & Get 5 Locations or 100% REFUND<br>
                    <span class="text-primary-600 text-3xl dark:text-primary-500">(GUARANTEED!)</span>
                </h1>
                <h2 class="text-lg/relaxed font-medium text-gray-700 pb-4 lg:text-xl/relaxed dark:text-gray-300">
                    Tap Into The Fastest Growth Opportunity For Locations.<br>
                    Grow Your Business In A Predictable & Consistent Way.
                </h2>
            </div>
            <div class="flex justify-start p-6">
                <ul class="space-y-2 text-sm lg:text-base">
                    <li class="flex items-center gap-2">
                        <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span><strong>ZERO</strong> Cold Calling</span>
                    </li>
                    <li class="flex items-center gap-2">
                        <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span><strong>ZERO</strong> Door Knocking</span>
                    </li>
                    <li class="flex items-center gap-2">
                        <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Locations Will <strong>COME TO YOU</strong></span>
                    </li>
                    <li class="flex items-center gap-2">
                        <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Get <strong>RESULTS</strong> Or Get <strong>100% REFUND</strong></span>
                    </li>
                    <li class="flex items-center gap-2">
                        <svg class="hi-outline hi-check-circle inline-block size-6 text-primary-600 dark:text-primary-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span><strong>JUMP-START</strong> Your Growth in 48 Hours Or Less</span>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-2 pb-12 pt-4">
                <button type="button" name="heroDesktopCTA"
                    class="quoteButton inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-7 py-3.5 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                    <span>Start Application to Get Your 5 Locations W/ 100% REFUND GUARANTEE</span>
                </button>
            </div>
        </div>
        <div class="group relative flex items-center justify-center md:col-span-5 md:justify-end">
            <div
                class="absolute inset-0 rotate-45 rounded-full bg-gradient-to-b from-sky-500 via-teal-500 to-purple-500 opacity-30 blur-3xl transition-transform duration-300 group-hover:scale-95">
            </div>
            <div
                class="relative w-full max-w-[320px] md:max-w-[500px] lg:max-w-[640px] origin-bottom rounded-2xl bg-white/50 p-2.5 shadow-xl shadow-teal-300/10 backdrop-blur-sm transition-transform duration-300 group-hover:rotate-3 group-hover:scale-105 dark:bg-black/20">
                <img src="https://ydvending.s3.amazonaws.com/media/yova_vendo.jpg" width="800" height="1200"
                    alt="Yova hero" class="w-full h-auto rounded-xl" />
            </div>
        </div>
    </div>
</div>
<!-- END Hero -->
{{ end }}