{{ define "90_day_challenge_application_form.html" }}
<!-- Modal Container -->
<div id="formModalContainer" style="display: none;">
    <div>
        <div tabindex="-1" role="dialog"
            class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
            <div role="document"
                class="mx-auto flex w-full sm:w-1/2 flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                <div class="flex items-center justify-between bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
                    <h3 class="flex items-center gap-2 font-medium">
                        <span>Apply for Your 90 Day Challenge</span>
                    </h3>
                    <div class="-my-4">
                        <button type="button" id="closeApplicationForm"
                            class="inline-flex items-center justify-center gap-2 rounded-lg border border-transparent px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                            <svg class="hi-solid hi-x -mx-1 inline-block size-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="grow px-5">
                    <div
                        class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                        <div class="grow p-5 md:px-16 md:py-6">
                            <form id="applicationForm" class="space-y-6 p-2 md:p-2">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ .CSRFToken }}" />
                                <input type="hidden" id="lead_type_id" name="lead_type_id" value="{{ .LeadTypeID }}" />
                                <input type="hidden" id="button_clicked" name="button_clicked" />
                                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="first_name" class="font-medium">First Name*</label>
                                        <input type="text" id="first_name" name="first_name" autocomplete="given-name"
                                            required
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="last_name" class="font-medium">Last Name*</label>
                                        <input type="text" id="last_name" name="last_name" autocomplete="family-name"
                                            required
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="phone_number" class="font-medium">Phone Number*</label>
                                        <input type="tel" id="phone_number" name="phone_number" autocomplete="tel" required
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="email" class="font-medium">Email*</label>
                                        <input type="email" id="email" name="email" autocomplete="email" required
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="website" class="font-medium">Website</label>
                                        <input type="url" id="website" name="website" autocomplete="website"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="company_name" class="font-medium">Company Name</label>
                                        <input type="text" id="company_name" name="company_name"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="years_in_business" class="font-medium">How long have you been in business?</label>
                                        <input type="number" id="years_in_business" name="years_in_business" required
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="num_locations" class="font-medium">How many locations do you currently have?</label>
                                        <input type="number" id="num_locations" name="num_locations"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                                    <div class="space-y-1">
                                        <label for="city" class="font-medium">Which city are you looking to get locations in?</label>
                                        <input type="text" id="city" name="city" required placeholder="Miami, FL"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                    <div class="space-y-1">
                                        <label for="num_locations" class="font-medium">How many locations do you currently have?</label>
                                        <input type="number" id="num_locations" name="num_locations"
                                            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary" />
                                    </div>
                                </div>
                                <button type="button" id="submitApplicationForm"
                                    class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-8 py-4 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="hi-mini hi-lock-open inline-block size-12 sm:size-5">
                                        <path fill-rule="evenodd"
                                            d="M14.5 1A4.5 4.5 0 0 0 10 5.5V9H3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-1.5V5.5a3 3 0 1 1 6 0v2.75a.75.75 0 0 0 1.5 0V5.5A4.5 4.5 0 0 0 14.5 1Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span>Apply to Start Your 90 Day Challenge</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                    <button type="button" id="cancelApplicationForm"
                        class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alertModal"></div>

<script nonce="{{ .Nonce }}" type="module">
    import { MarketingHelper } from "{{ .StaticPath }}/helpers/marketing.js";
    const form = document.getElementById("applicationForm");

    const marketingHelper = new MarketingHelper();
    document.addEventListener("DOMContentLoaded", () => marketingHelper.getUserLocation());

    const submitApplicationForm = document.getElementById("submitApplicationForm");
    const cancelApplicationForm = document.getElementById("cancelApplicationForm");
    const closeApplicationForm = document.getElementById("closeApplicationForm");

    function handleCloseApplicationForm() {
        const modal = document.getElementById('formModalContainer');
        modal.style.display = 'none';
    }

    function handleApplicationFormSubmit() {
        const alertModal = document.getElementById("alertModal");

        marketingHelper.populate();
        const data = marketingHelper.data;

        new FormData(form).forEach((value, key) => {
            if (value) data.set(key, value);
        });

        fetch("/funnel/90-day-challenge", {
            method: "POST",
            credentials: "include",
            body: data,
        })
            .then(response => {
                const token = response.headers.get("X-Csrf-Token");
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach((csrf_token) => (csrf_token.value = token));
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                alertModal.outerHTML = html;

                // Report FB Conversion
                fbq("trackCustom", "lead_application", {
                    event_time: Math.floor(Date.now() / 1000),
                    action_source: "website",
                    event_source_url: window.location.href,
                    em: data.get("email"),
                    fn: data.get("first_name"),
                    ln: data.get("last_name"),
                    ph: data.get("phone_number"),
                    external_id: "{{ .ExternalID }}",
                    fbc: marketingHelper.facebookClickId,
                    fbp: marketingHelper.facebookClientId,
                    client_user_agent: marketingHelper.userAgent,
                });
            })
            .catch(err => {
                alertModal.outerHTML = err
            })
            .finally(() => {
                handleCloseAlertModal();
                handleCloseApplicationForm();
                form.reset();
            });
    }

    submitApplicationForm.addEventListener("click", () => handleApplicationFormSubmit());
    closeApplicationForm.addEventListener("click", () => handleCloseApplicationForm());
    cancelApplicationForm.addEventListener("click", () => handleCloseApplicationForm());
</script>
{{ end }}