<!DOCTYPE html>
<html class="dark" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ .GoogleAnalyticsID }}"></script>
	<script nonce="{{ .Nonce }}">
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag("js", new Date());

		gtag("config", "{{ .GoogleAnalyticsID }}");
		gtag("set", "user_id", "{{ .ExternalID }}");

		gtag('config', '{{ .GoogleAdsID }}');
	</script>

	<script nonce="{{ .Nonce }}">
		gtag('config', '{{ .GoogleAdsID }}/{{ .GoogleAdsCallConversionLabel }}', {
			'phone_conversion_number': '{{ .PhoneNumber }}',
			'phone_conversion_css_class': 'phoneNumber'
		});
	</script>
	<!-- End Google tag -->

	<!-- Facebook Pixel Code -->
	<script nonce="{{ .Nonce }}">
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ .FacebookDataSetID }}', { 'external_id': "{{ .ExternalID }}" });
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id={{ .FacebookDataSetID }}&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Pixel Code -->
    <!-- Essential Meta Tags -->
    <meta charset="utf-8">
    <title>{{ .PageTitle }}</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <meta name="description" content="{{ .MetaDescription }}">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .PageTitle }}" />
    <meta property="og:description" content="{{ .MetaDescription }}" />
    <meta property="og:site_name" content="{{ .SiteName }}" />

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ .PageTitle }}" />
    <meta name="twitter:description" content="{{ .MetaDescription }}" />
    <meta name="twitter:url" content="{{ .PagePath }}" />

    <!-- CSS -->
    <link href="{{ .StaticPath }}/main.css" rel="stylesheet" type="text/css">

    <!-- Rels -->
    <link rel="canonical" href="{{ .PagePath }}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ .MediaPath }}/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .MediaPath }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .MediaPath }}/favicon-16x16.png">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .MediaPath }}/apple-touch-icon.png">

    <!-- Android Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ .MediaPath }}/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ .MediaPath }}/android-chrome-512x512.png">
</head>
<body>
    <div id="page-container" class="mx-auto flex min-h-dvh w-full min-w-[320px] flex-col bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
        <!-- Page Header -->
        <header id="page-header" class="fixed left-0 right-0 top-0 z-30 flex h-16 flex-none items-center bg-white shadow-sm dark:bg-gray-800 max-w-full overflow-x-hidden">
            <div class="mx-auto flex w-full max-w-10xl justify-center px-4 lg:px-8">
                <!-- Center Section -->
                <div class="flex items-center">
                    <a href="/" class="group inline-flex items-center gap-2 text-2xl font-bold tracking-wide text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300">
                        <span>{{ .CompanyName }}</span>
                    </a>
                </div>
                <!-- END Center Section -->
            </div>
        </header>
        <!-- END Page Header -->

        <!-- Page Content -->
        <main id="page-content" class="flex max-w-full flex-auto flex-col pt-16">
            <div class="mx-auto w-full max-w-10xl p-4 lg:p-8">
                {{ template "content.html" . }}
            </div>

            <!-- Form -->
            {{ template "90_day_challenge_application_form.html" . }}
            <!-- END Form -->
        </main>
        <!-- END Page Content -->
    </div>
</body>

<script src="{{ .StaticPath }}/main.js" nonce="{{ .Nonce }}"></script>
</html>