{{ define "content.html" }}
<div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
	<div
		class="flex flex-col gap-3 bg-gray-50 px-5 py-4 text-center dark:bg-gray-700/50 sm:flex-row sm:items-center sm:justify-between sm:text-left">
		<form id="filters" class="flex items-center gap-2">
			<button type="submit"
				class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
				Filter
			</button>
			<select id="vending_type" name="vending_type"
				class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
				<option value="" selected>Vending Type</option>
				{{ range .VendingTypes }}
				<option value="{{ .VendingTypeID }}">
					{{ .MachineType }}
				</option>
				{{ end }}
			</select>
			<select id="location_type" name="location_type"
				class="block w-full rounded-lg border border-gray-200 px-3 py-2 text-sm font-semibold leading-5 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-700 dark:bg-gray-800 dark:focus:border-blue-500 sm:w-36">
				<option value="" selected>Location Type</option>
				{{ range .VendingLocations }}
				<option value="{{ .VendingLocationID }}">
					{{ .LocationType }}
				</option>
				{{ end }}
			</select>
		</form>
		<button id="clearButton" type="button"
			class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
			Clear
		</button>
	</div>
</div>

<div class="min-w-full overflow-x-auto rounded border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
	<table class="min-w-full whitespace-nowrap align-middle text-sm">
		<thead>
			<tr>
				<th
					class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
					View
				</th>
				<th
					class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
					Name
				</th>
				<th
					class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
					Phone Number
				</th>
				<th
					class="bg-gray-100/75 px-3 py-4 text-left font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
					Vending Type
				</th>
				<th
					class="bg-gray-100/75 px-3 py-4 text-center font-semibold text-gray-900 dark:bg-gray-700/25 dark:text-gray-50">
					Vending Location
				</th>
			</tr>
		</thead>

		<tbody>
			{{ range .Leads }}
			<tr class="hover:bg-gray-50 dark:hover:bg-gray-900/50">
				<td class="p-3 text-center">
					<a href="/crm/lead/{{ .LeadID }}" target="_blank"
						class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
						View
					</a>
				</td>
				<td class="p-3">
					<p class="font-medium">{{ .FirstName }} {{ .LastName }}</p>
				</td>
				<td class="p-3 text-gray-500 dark:text-gray-400">
					<a href="tel:{{ .PhoneNumber }}"
						class="inline-flex items-center justify-center space-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700">
						<span class="phoneNumber">{{ .PhoneNumber }}</span>
					</a>
				</td>
				<td class="p-3">
					<div
						class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
						{{ .MachineType }}
					</div>
				</td>
				<td class="p-3 text-center">
					<div
						class="inline-flex rounded-full border border-transparent bg-emerald-100 px-2 py-1 text-xs font-semibold leading-4 text-emerald-900 dark:border-emerald-900 dark:bg-emerald-700/10 dark:font-medium dark:text-emerald-200">
						{{ .LocationType }}
					</div>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>

	<!-- Pagination -->
	<div class="grow border-t border-gray-200 px-5 py-4 dark:border-gray-700">
		<nav class="flex">
			<button name="left"
				class="pagination-link inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
				<svg class="hi-mini hi-chevron-left -mx-1.5 inline-block size-5" xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd"
						d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
						clip-rule="evenodd" />
				</svg>
			</button>
			<div class="flex grow items-center justify-center px-2 sm:px-4">
				<span>Page <span class="font-semibold">{{ .CurrentPage }}</span> of <span id="maxPages" class="font-semibold">{{ .MaxPages }}</span></span>
			</div>
			<button name="right"
				class="pagination-link inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 font-semibold leading-6 text-gray-800 hover:z-1 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:z-1 focus:ring focus:ring-gray-300/25 active:z-1 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
				<svg class="hi-mini hi-chevron-right -mx-1.5 inline-block size-5" xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd"
						d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
						clip-rule="evenodd" />
				</svg>
			</button>
		</nav>
	</div>
	<!-- END Pagination -->
</div>

<script nonce="{{ .Nonce }}">
	const params = new URLSearchParams(window.location.search);
	const form = document.getElementById("filters");
	const clear = document.getElementById("clearButton");

	clear.addEventListener('click', () => window.location.href = "/crm/lead");

	form.addEventListener("submit", e => {
		e.preventDefault();

		const formData = new FormData(e.target);
		for (const [key, value] of formData.entries()) {

			// Only append truthy values
			if (!value) continue;

			params.set(key, value);
		}

		// Do not submit if params are empty
		if (!params.toString()) return;

		redirectUrl();
	});

	function redirectUrl() {
		const { origin, pathname } = window.location;
		const url = new URL(origin + pathname);
		url.search = params.toString();

		window.location.replace(url.href);
	}
</script>

<script src="{{ .StaticPath }}/main.js" nonce="{{ .Nonce }}"></script>
<script src="{{ .StaticPath }}/pagination.js" nonce="{{ .Nonce }}"></script>

{{ end }}