{{ define "content.html" }}
<div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
    <div
        class="flex flex-col gap-3 bg-gray-50 px-5 py-4 text-center dark:bg-gray-700/50 sm:flex-row sm:items-center sm:justify-between sm:text-left">
        <button id="addMiniSite" type="button"
            class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            Add Mini Site
        </button>
    </div>
</div>

{{ template "mini_sites_table.html" . }}

{{ template "create_mini_site_form.html" . }}

<script nonce="{{ .Nonce }}" type="module">
    import { formAutoFill } from "{{ .StaticPath }}/helpers/formAutoFill.js"
    const addMiniSiteButton = document.getElementById('addMiniSite');

    addMiniSiteButton.addEventListener('click', () => {
        const formModalContainer = document.getElementById('formModalContainer');
        formModalContainer.style.display = '';

        formAutoFill();
    });
</script>

<script src="{{ .StaticPath }}/main.js" nonce="{{ .Nonce }}"></script>
<script src="{{ .StaticPath }}/pagination.js" nonce="{{ .Nonce }}"></script>

{{ end }}